
<h1 class="text-primary">Prueba de estilo de Bootstrap</h1>

<div class="alert alert-success" role="alert">
  Esta es una alerta de éxito con Bootstrap.
</div>

<button class="btn btn-primary">Botón Bootstrap</button>


